*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/pokemonforest.png);
    background-size: cover;
    background-position: center;
}

#container{
    background-color: #f7c600;
    padding: 40px;
    width: 400px;
    border-radius: 25px;
    border: 6px solid #1e2a78;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

#imagem{
    width: 130px;
}

input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.button{
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.button:hover{
    background-color: #dcdcdc;
}

#ataques{
    margin-top: 10px;
    font-weight: 500;
}